/*!
 * 
 * 
 * 
 */

body {
    padding-top: 70px;
}

.margin-b {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.navbar-inverse {
    background-color: #37474f
}

.webs,
.files {
    position: relative;
    text-align: center;
    font-size: 13px;
}

.files {
    font-size: 12px;
}

.webs a,
.files a {
    display: inline-block;
    text-align: center;
    color: #37474f;
    text-decoration: none;
}

.open-explorer {
    position: absolute;
    right: 10px;
    top: 10px;
}

.open-explorer img {
    width: 30px;
    height: 30px;
}

.webs img {}

#websContextMenu,
#filesContextMenu {
    position: absolute;
    display: none;
}

.details {
    font-size: 14px;
    color: #999;
}

.files,
.files div {
    overflow: hidden;
}

.col-xxs-3,
.col-xxs-4,
.col-xxs-6 {
    position: relative;
    min-height: 1px;
}

.col-xxs-3,
.col-xxs-4,
.col-xxxs-6 {
    float: left;
}

.col-lg-2 a img {
    padding: 0px 10px 3px 10px;
}

@media screen and (min-width: 1200px) {
    .col-md-2 a img {
        padding: 7px 17px 3px 17px;
    }
}

@media screen and (max-width: 1199px) {
    .col-md-2 a img {
        padding: 5px 15px 3px 15px;
    }
}

@media screen and (max-width: 991px) {
    .col-md-2 a img {
        padding: 5px 15px 3px 15px;
    }
}

@media screen and (max-width: 765px) {
    .page-header {
        margin-top: 0;
    }
    footer {
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    .col-md-2 a img {
        padding: 0px;
    }
}

@media screen and (max-width: 500px) {
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-4 {
        width: 33.33333333%;
    }
}

@media screen and (max-width: 350px) {
    .col-xxxs-6 {
        width: 50%;
    }
    .webs,
    .files {
        font-size: 11px;
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-hidden {
    width: 0rem!important;
    height: 0rem!important;
}

.spinner-grow-sm {
    width: 1.5rem;
    height: 1.5rem;
}



/* ---------------------------- */
img.dir {
    width:50px;
    height:auto;
    overflow: hidden;
}

.dangerHighlight {
    background: #ffbbbb;
}

.highlightOut {
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 1000ms linear;
}

.filestable td {
    vertical-align: middle!important;
}

button.btn-dirtozip {
    width: 101px;
}

#filedrop {
    display: block;
}

/* During drag */
#filedrop {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: 1px dashed #cfcfcf;
    border-radius: 4px;
    line-height: 50px;
    font-weight: bold;
    color: #cfcfcf;
    text-align: center;
    display: none;
    user-select: none;
}

.breadcrumb {
    margin-bottom: 5px;
}

.file-upload ul {
    list-style: none;
    height: 23px;
    padding-left: 0px;
    margin-bottom: 5px;
    word-wrap: inherit;
    overflow: hidden;
}

.file-upload ul > li {
    display: inline-block;
    padding-right:0px;
    font-size: 12px;
    user-select: none;
    
}

.file-upload ul > li > input[name='newfileName'] {
    border:1px solid #cfcfcf;
    padding: 2px 3px 1px 3px;
    border-radius: 3px;
    width: calc(100% - 92px);
}

.file-upload ul > li > button {
    padding: 1px 10px  0 10px;
}

.file-upload ul > li > input[type=button] {
    margin-top:-1px;
    user-select: none;
}

.file-upload ul > li:not(:last-child) {
    cursor: pointer;
    border:1px solid #cfcfcf;
    padding: 2px 5px 1px 5px;
    border-radius: 3px;
}

.file-upload ul > li.active:not(:last-child) {
    background-color:#337ab7;
    border-color:#122b40;
    color:#fff;
}

.file-upload ul > li:last-child {
    width: calc(100% - 241px);
}

.m-hidden-xs {

}
@media (max-width: 576px)  {
    .file-upload ul > li:last-child {
        width: calc(100% - 186px);
    }

    .file-upload ul > li > input[name='newfileName'] {
        width: calc(100% - 38px);
    }

    .m-hidden-xs {
        display: none!important;
    }
}


.file-upload ul > li img {
    width:10px;
    margin-right:3px;
    opacity:0.7;
    vertical-align: baseline;
}